<% if(errMsg) { %>
    <% errMsg.forEach(function(msg) { %>
        <div class="center-text warn message">
            <p><%= msg %></p>
        </div>
    <% }); %>
<% }; %>

<% if(successMsg) { %>
    <% successMsg.forEach(function(msg) { %>
        <div class="center-text success message">
            <p><%= msg %></p>
        </div>
    <% }); %>
<% }; %>