<% if(errMsg) { %>
    <% errMsg.forEach(function(msg) { %>
        <p><%= msg %></p>
    <% }); %>
<% }; %>

<% if(successMsg) { %>
    <% successMsg.forEach(function(msg) { %>
        <p><%= msg %></p>
    <% }); %>
<% }; %>