<div class="box center row white-text height-limit center-text">
    <div class="holder box-l bg-dark">
        <%- include('./errorHandling/messages'); %>
        <h3>Available Tags</h3>
        <ul class="tags-grid center-text">
        <% tags.forEach(function(tag) { %>
            <li class="select grid-item btn white-text" value="<%=tag._id%>"><%=tag.name%></li>
        <% }); %>
        </ul>
        <h3>Selected Tags</h3>
        <ul class="selected tags-grid center-text"></ul>
        </ul>
        <form class="row" action="/upload" method="POST" enctype="multipart/form-data">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Enter a title." value="<%= title !== '' ? title : ''%>">
            <label for="image">Image</label>
            <input type="file" name="image">
            <input type="hidden" name="tags" id="tags">
            <label>Is this adult content?</label>
            <div class="radio">
                <% if(nsfw===false) { %>
                    <input type="radio" name="nsfw" value="true"> Yes
                    <input type="radio" name="nsfw" value="false" checked> No
                <% } else { %>
                    <input type="radio" name="nsfw" value="true" checked> Yes
                    <input type="radio" name="nsfw" value="false"> No
                <% }; %>
            </div>
            <button class="btn">Submit</button>
        </form>
        <div class="center-text">
            <a href="/">Go Back</a>
        </div>
    </div>
</div>
<script src="/scripts/tagFunctionality.js"></script>