<%- include('./errorHandling/messages') %>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="Enter a title." value="<%= title !== '' ? title : ''%>">
    <label for="image">Image</label>
    <input type="file" name="image">
    <label>Is this adult content?</label>
    <% if(nsfw===false) { %>
        <input type="radio" name="nsfw" value="true">Yes
        <input type="radio" name="nsfw" value="false" checked>No
    <% } else { %>
        <input type="radio" name="nsfw" value="true" checked>Yes
        <input type="radio" name="nsfw" value="false">No
    <% } %>
    <button>Submit</button>
</form>
<a href="/">Go Back</a>