* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-item {
    position: relative;
}

.cover {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.favorites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}